<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <style>


        h1 {
            font-size: 24px;
            text-align: center;
            margin-bottom: 20px;
            color: black;
        }

        a {
            text-decoration: none;
            color: #fff;
            background-color: #b78787;
            padding: 10px 20px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h1>Vous avez saisi des données incorrectes ! Veuillez réessayer.</h1>
<a href="/register">Navigate to registration</a>
<a href="/login">Navigate to login</a>
</body>
</html>